﻿<!DOCTYPE html>
 <!--Компоновачный ФАЙЛ-->
 <!--Он тупа вставляется в каждый .cshtml файл-->
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet"
          asp-href-include="/lib/bootstrap/dist/**/*.min.css"
          asp-href-exclude="**/*-reboot*,**/*-grid*"/>
    <link rel="stylesheet" asp-href-include="/lib/fontawesome/css/*.css"/>
    <title>NIS</title>
    <style>
        body
        {
            background-image: url("/NIS project/wwwroot/trash/wall.jpg");
            background-repeat:no-repeat;
            background-attachment:fixed;
        }
    </style> 
</head>
<body>
<div class="navbar navbar-inverse bg-primary" role="navigation">
    <div class="row">
        <img width="150" height="65" src="~/trash/logo.jpg" alt="logo"/>
        <a class="col navbar-brand" asp-action="Index" asp-controller="Home">
            NIS Hint
        </a>
        <a class="col navbar-brand" asp-action="Faq" asp-controller="Home">FAQ</a>

        @if (!User.Identity.IsAuthenticated)
        {
            <a class="col navbar-brand p-2" asp-action="Login" asp-controller="Account">Log in</a>
            <a class="col navbar-brand p-2" asp-action="Register" asp-controller="Account">Sign in</a>
        }
        else
        {
            <p class="col navbar-brand">@User.Identity.Name</p>
            <a class="col navbar-brand p-2" asp-action="SignOut" asp-controller="Account">Sign out</a>
        }

        @if (User.IsInRole("admin"))
        {
            <a class="col navbar-brand p-2" asp-action="AddMaterial" asp-controller="Subject">Add material</a>
            <a class="col navbar-brand p-2" asp-action="AddSubject" asp-controller="Subject">Add subject</a>
        }

    </div>
</div>
<div>  <!--а вместо RenderBody() вставляется все содержимое .cshtml-->
    @RenderBody()
</div>
</body>

</html>