﻿
@{
    ViewData["Title"] = "Log in";
    @model NIS_project.ViewModels.LoginModel; //Используется модель логина
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
}


<h1>Login</h1>
<!--Используется модель логина патерн MVVM-->
<!--После нажатия на кнопку Log in выполняется метод Login контроллера Account с отправкой модели-->
<!--public async Task<IActionResult> Login(LoginModel model) - именно туда отправляется модель-->
<form asp-action="Login" method="post" asp-controller="Account" asp-anti-forgery="true">
    <div>
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <span asp-validation-for="Login"></span>
            <input class="form-control" asp-for="Login" type="text" placeholder="Login" value="" required="">
        </div>
        <div class="form-group">
            <span asp-validation-for="Password"></span>
            <input class="form-control" asp-for="Password" type="password" placeholder="Password" required="">
        </div>
        <div class="form-group">
            <!--Отправить-->
            <input type="submit" value="Log In" class="btn btn-outline-primary">
            <!--Перейти на страницу Register контроллера Account-->
            <a asp-action="Register" asp-controller="Account" class="btn btn-outline-info">I don't have an account</a>
        </div>
    </div>
</form>
