﻿
@{
    ViewData["Title"] = "Register";
    @model NIS_project.ViewModels.RegisterModel;
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

}


<h1>Registration</h1>
<!--Подобно Login.cshtml все точно также, только теперь-->
<!--туда - public async Task<IActionResult> Register(RegisterModel model)-->
<form asp-action="Register" asp-controller="Account" method="post" asp-anti-forgery="true">
    <!--<div class="validation" asp-validation-summary="ModelOnly" />-->
    <div>
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <input class="form-control" asp-for="Login" type="text" placeholder="Login" value="" required="">
            <span asp-validation-for="Login"></span>
        </div>
        <div class="form-group">
            <input class="form-control" asp-for="Password" type="password" placeholder="Password" value="" required="">
            <span asp-validation-for="Password"></span>
        </div>
        <div class="form-group">
            <!--Отправить-->
            <input type="submit" value="Register now" class="btn btn-outline-primary">
            <!--Перейти на страницу логина-->
            <a asp-action="Login" asp-controller="Account" class="btn btn-outline-info">I already have an account</a>
        </div>
    </div>
</form>


