﻿
@{
    ViewData["Title"] = "TestUsers";
    @model List<User>;
}

<h1>TestUsers</h1>
    <!--Бесполезная хрень-->
@{
    foreach (var user in Model)
    {
        <div>
            <p>@user.UserName</p>
            <p>@user.Password</p>
        </div>
    }
    <div>@ViewBag?.Res</div>
}
