﻿@using System.Reflection.Metadata

@{
    ViewData["Title"] = "AddMaterialToSubject";
    @model FileModel;
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
}

<h1>Add Material to @ViewBag.SubjectName </h1>
    
<!--Модель для загрузки файлов, внутри нее список файлов и айди предмета-->
<!--При нажатии на кнопку выполняется действие - public async Task<IActionResult> AddMaterialToSubject(FileModel model)-->
<form asp-action="AddMaterialToSubject" asp-controller="Subject" method="post" enctype="multipart/form-data">
        <input class="form-control" type="file" asp-for="Files" multiple/>
        <input class="form-control" type="hidden" value="@ViewBag.SubjectId" asp-for="Id" readonly="" />
        <input type="submit" class="btn btn-primary" value="Send" />
</form>
