﻿
@{
    ViewData["Title"] = "AddMaterial";
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
    @model System.Collections.Generic.List<Subject>;
}

<h1>Add Material</h1>

<!--Приходит список предметов, каждый предмет принтится и каждый материал в нем-->
@foreach (var subject in Model)
{
    <table>
        <tr>
            <th>@subject.Name</th>
        </tr>

        @if (subject.Materials != null)
        {
            @foreach (var material in subject?.Materials)
            {
                <tr>
                    <td>@material.Name</td>
                </tr>

            }
        }
    </table>
    <!--Теперь на каждый предмет добавить кнопку Добавить материал-->
    <!--Выполняется действие - public IActionResult AddMaterialToSubject(int id) - передается id материала-->
    <a class="btn btn-outline-primary" asp-action="AddMaterialToSubject" asp-controller="Subject" asp-route-id=@subject.Id>Add to @subject.Name</a>
}

