﻿
@{
    ViewData["Title"] = "AddSubject";
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
    @model NIS_project.ViewModels.SubjectModel;
}

<h1>Add Subject</h1>

@{
    if (Model.ExistingSubjectNames != null)
    {
        foreach (var name in Model.ExistingSubjectNames)
        {
            <p>@name</p>
        }
    }
}

<!--Простая форма добавки предмета, тупа имя и кнопка-->
<!--При нажатии на кнопку выполняется действие - public IActionResult AddSubject(SubjectModel model)-->
<div>
    <form asp-action="AddSubject" asp-controller="Subject" method="post">
        <div class="form-group">
            <input class="form-control" asp-for="Name" type="text" placeholder="Subject name" required="" />
        </div>
        <div class="form-group">
            <input class="btn btn-outline-primary" type="submit" value="Create subject" required="" />
        </div>
    </form>
</div>



