﻿
@{
    ViewData["Title"] = "Subjects";
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
    @model System.Collections.Generic.List<Material>;
}

<h1>Materials of @ViewBag.SubjectName</h1>

<div>
    @{
        //Передается список материала отдельного предмета
        //Каждый из них вырисовывается
        //И добавляется ссылка на скачивание
        //При нажатии на ссылку выполняется действие - public async Task<IActionResult> DownloadMaterial(string fileName) 
        //Передается имя файла
        if (Model != null)
        {

            foreach (var material in Model)
            {
                <a asp-action="DownloadMaterial" asp-controller="Subject" asp-route-filename="@material.Name">@material.Name</a> <br/>
            }
        }
    }
</div>

