﻿
@{
    ViewData["Title"] = "Faq";
}

<h1>FAQ</h1>
      

<div>
1.	Для подготовки каких классов была создана платформа?
Для подготовки 11-12 классов
</div>
<div>
2.	Что делать если не работает регистрация?
Обратитесь на данную почту saduakaas@gmail.com или же напишите на WhatsApp 87012225617
</div>
<div>
3.	Как сбросить пароль если забыл/а?
Под формой входа есть ссылка «Забыли пароль?» воспользуйтесь ей и Вам на почту придет письмо для восстановления пароля
</div>
<div>
4.	Где можно найти дополнительные материалы по определенным темам?
Дополнительные материалы Вы можете найти в Google Drive/Dropbox/Padlet/Google Classroom вашего предмета/класса спросив у учителя ссылку и код для входа
</div>
<div>
5.	Как связаться с создателем сайта?
Все просто, напишите по этому номеру в WhatsApp 87012225617 Айжан Садуакас
</div>
<div>
6.	Как загрузить дополнительные материалы на сайт?
Вы можете связаться с нами по почте saduakaas@gmail.com отправив письмо с содержанием о Вас (ФИО, класс), предмет, к которому хотите внести дополнения и сам файл обязательно в PDF формате. Будем очень благодарны за вклад, который Вы внесете для улучшения сайта!
</div>
<div>
При наличии других вопросов не стесняйтесь обращаться по контактам указанным выше.
</div>
                    <br/>
                    <br/>
<div>
1.	 To prepare which classes was the platform created?
For the preparation of grades 11-12
</div>
<div>
2.	What to do if registration does not work?
Contact the standard mail saduakaas@gmail.com or write to WhatsApp 87012225617
</div>
<div>
3.	How to reset the password if I forgot it?
Under the login form there is a link "Forgot your password?" use it and you will receive an email to recover your password
</div>
<div>
4.	Where can I find additional materials on specific topics?
You can find additional content at Google Drive / Dropbox / Padlet / Google Classroom of your subject / class by asking the teacher for a link and code to enter.
</div>
<div>
5.	How to contact the creator of the site?
Everything is simple, write to this number on WhatsApp 87012225617 Aizhan Saduakas
</div>
<div>
6.	How to upload additional materials to the site?
You can contact us by mail saduakaas@gmail.com by sending an email with a link to you (name, class); the subject that you want to add additions and the file itself must be in PDF format. We will be very grateful for the contribution you will make to improve the site!
</div>
<div>
If you have other questions, do not hesitate to contact the contacts above.
</div>
