﻿@{
    ViewData["Title"] = "Home";
    @model List<Subject>;
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
}

<h1>Home</h1>
 <!--Сюда приходит список ПРЕДМЕТОВ-->
@{
    foreach (var subject in Model) 
    {
        <div>
            <h2>
                <!--Теперь каждый предмет из списка нужно вывести и создать ссылку-->
                <!--При нажатии на предмет выполняется public IActionResult AddMaterialToSubject(int id)-->
                <!--Контроллер SubjectController-->
                <a asp-action="Subjects" asp-controller="Subject" asp-route-id=@subject.Id>@subject.Name</a>
            </h2>
        </div>
    }
}
<div>

</div>

